<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2 class="mb-4 text-center text-primary">Order New Project</h2>

      <%= form_with model: @project, url: projects_path, local: true,
          data: {
            controller: "payment",
            payment_prices_value: @video_types.index_by(&:id).transform_values(&:price).to_json
          },
          class: "card shadow p-4" do |f| %>

        <%= render "form_fields", f: f %>
        <%= render "video_type_grid" %>

        <div class="text-center">
          <button type="button"
                  class="btn btn-success px-4"
                  data-payment-target="submit"
                  data-action="payment#openModal">
            Pay & Submit
          </button>
        </div>

        <%= render "payment_modal" %>
      <% end %>
    </div>
  </div>
</div>
